#xReturnTop {
	font-size:12px;
	position:fixed;
}
#xReturnTop .box, #xReturnTop .box a {
    -webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
    width:36px;
	height:36px;
    display:block;
}

#xReturnTop .box {
	transition:0.3s;
	position:fixed;
	left:80%;
	bottom:-60px;
	background:url(returnBgX.png) repeat;
	cursor:pointer;
}
#xReturnTop .box a {
	float:left;
	background:url(returnTopIco.gif) no-repeat 11px 10px;
}
#xReturnTop .box a:hover {
	background-color:#6e6e6e;
}
#xReturnTop .box span {
	float:left;
	line-height:36px;
	color:#e6e6e6;
	margin-left:6px;
}
